
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');


body {
    background-color: antiquewhite;
    font-family: 'Montserrat',sans-serif ;
    line-height: 1.58;
    letter-spacing: -.003em;
}

/* img {
    width: 40%;
    height: 40%;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border:5px solid rgb(0, 0, 0);
   margin-bottom: 3em;
} */

img{
    width: 40%;
    height: 40%;
    margin-left: auto;
   margin-right: auto;
   display: block;
   border:5px solid rgb(0, 0, 0);

}

figcaption{
    text-align: center;
    
}




p{
    text-indent: 50px;;
}
.analysis{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    max-width: 40em;
    /* border:1px solid red; */
    padding:25px;
    margin:auto;
    background-color: rgb(254, 254, 254);
   
    
    
}


h3{
    padding-left: 2em;
}

h1{
    text-align: center;
}