
.superContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(255, 132, 0);
    width:500px;
    height:500px;
   display: flex;
   flex-flow: row wrap ;
   justify-content: flex-start;
    row-gap: 10px;
    column-gap: 20px;
   align-items: center;
  
   
    
}
.box{
    border: 2px solid rgb(192, 255, 200);
    background-color: pink;
    border-radius: 3px;
    width:120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;


}

