
body{
    background-color: rgb(238, 176, 238);
}

#unique{
    max-width: 100px;
    height:80px;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height:150px;
}